.available {
    background: linear-gradient(120deg, rgb(107, 188, 108), rgb(106, 177, 82)) !important;
    padding: 6px;
    height: 70px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: 700;
    color: #f2f2f2;
    border: 1px solid;
    text-align: center;
}

.occupied {
    background: linear-gradient(120deg, rgb(246, 126, 123), rgb(243, 90, 127));
    padding: 6px;
    height: 70px;
    border-radius: 6px;
    font-size: 10px;
    font-weight: 700;
    color: #f2f2f2;
    border: 1px solid;
    text-align: center;
}

.row {
    margin: 0px !important;
}

.error {
    color: red;
    font-weight: bolder;
}

.font-color-white {
    color: white;
    font-weight: bold;
}

.display-inline-block {
    display: inline-block;
}

.greybackground {
    background-color: #ddd;
    box-shadow: 10px 5px 5px #97c3d0;

}

.whitebackground {
    background-color: none;
}

/*-----------ratings------
*/
* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 20px;
    padding: 0 2px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 15px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
    color: #c59b08;
}

.bill {
    border: 1px solid;
    margin: 10px !important;

}

.bill-heading {
    background: purple;
    color: #f2f2f2;
    font-weight: bolder;
    border: 1px solid;
    font-size: 10px;
    height: 30px;
    padding-top: 6px;
}

.bill-body {

    color: #000;
    font-size: 10px;
    font-weight: bolder;
    border: 1px solid;
}

.bill-feedback {
    height: 40px;
    font-weight: bolder;
    font-size: 20px;
}